/* Defult css style */

* {
    padding: 0;
    margin: 0;
}


.container {
    max-width: 1320px;
    margin: auto;
}

.red {
    color: #F00;
}

.balck {
    color: #070211;
}

/* header css style */

.header {
    text-align: center;


}

.header-contain {

    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 200px 0;
    border-radius: 10px;





}


.header-contain h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;

}

.header-contain h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 70px;
    font-weight: 900;
    width: 632px;
    margin: auto;



}

/* main section start */


.discount {
    text-align: center;
    margin-top: 62px;

}

.discount h1 {
    color: #F00;
    font-size: 88px;
    margin-bottom: 20px;
    font-family: inter;
    font-weight: 700;

}

.discount h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.discount h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;

}

.discount-img {
    text-align: center;
}

.discount-img img {
    margin: 50px 0;
    width: 650px;
    height: 390px;

}


/* end section 1 */


/* start section  2 banner 2 */

.greting-section {
    margin-top: 35px;
}

.section-back-img-2 {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;

}

.greting-text {
    width: 60%;

    margin-left: 150px;
    padding: 20px;



}

.greting-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.greting-text p {
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 30px;
}

.greting-btn {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    text-decoration: none;
    margin-left: 30px;



}

.greating-img {
    width: 40%;
    padding-top: 100px;
}

.greating-img img {
    width: 319.83px;
    height: 464.662px;

}

/*   Start section 3 */

.contact-section {
    margin-top: 100px;
}

.contact-way {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 100px;
    align-items: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    border-radius: 10px;


}

.join-btn {
    border-radius: 8px;
    background: #F00;
    border: 0;
    padding: 13px 28px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 30px;
}


/* start section -4 */


.section-4 {
    margin-top: 50px;

}

.section-4-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;

    /* background-color: #F00; */
}

.section-4-content .section-4-left h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;

}


.section-4-content .section-4-left h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 10px 0;
}

.section-4-content .section-4-left p {

    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 390px;
    line-height: 30px;



}

.section-4-left {
    width: 25%;


}

.section-4-middel {
    width: 50%;
    padding: 20px;
    text-align: center;
}

.section-4-middel img {
    border: 15px solid red;
    border-radius: 50%;
    padding: 30px;
    height: 364px;
    width: 364px;

}

.section-4-right {
    width: 25%;



}

.section-4-right h1 {

    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

.section-4-right p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
    line-height: 30px;

}

.center-div {
    margin-left: 30px;
    margin-top: 80px;

}


.section-4-right-img img {
    width: 140px;
    height: 140px;
    margin-top: 20px;
}

/* Section css style start */

.section-5 {
    margin-top: 150px;

}

.hodiday-text {
    text-align: center;
}

.hodiday-text h6 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.hodiday-text h1 {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 30px;
}

.hodiday-text P {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 80%;
    margin: auto;
}

.holiday-offer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;


}

.holiday-offer .holiday-img-1 img {
    width: 99%;
}

.holiday-img-2 {}

.back-img {
    background-image: url(./resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom center;

}






.portfolio-section {
    margin-top: 100px;
}

.portfolio-text {}

.portfolio-text h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.portfolio-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 20px 0;
}

.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
}

.portfolio-img {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-img img {
    width: 400px;
    height: 350px;
    margin: 20px;
    transition: .8s;




}

.portfolio-img img:hover {

    transform: rotate(360deg);


}




.subscrib {
    margin-top: 100px;
}

.subscrib-field {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 100px 0;
}

.subscrib-field h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 20px 0;
}

.subscrib-field p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    margin: auto;
    line-height: 32px;

}

.form-fild {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.email-field {
    height: 32px;
    width: 400px;
    padding: 15px 40px;
    border: 0;
    border-radius: 30px 0px 0px 30px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;


}

.button-field {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 18px 20px;
    border: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: -5px;


}



/* footer section start */
.footer-section{
    background: #070211;
    color: #FFF;
  margin-top: 100px;
}

.footer-contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    
}
hr{
    color: white;
}

.footer-icon{
    text-align: center;
    padding: 50px 0;
}
.footer-icon img {
    margin: 0 20px;
}